<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-e-box-outline"></i>
                <span>
                    Esnafım
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Panel</li>

                <li>
                    <a href="/BusinessEmployee/BusinessEmployeeHome/Index" class="waves-effect">
                        <i class="feather-airplay"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Default/Index" class="waves-effect">
                        <i class="fas fa-home"></i>
                        <span>Ana Sayfaya Git</span>
                    </a>
                </li>

                <li class="menu-title">Sayfalar</li>
                <li>
                    <a href="#" class="waves-effect">
                        <i class="fas fa-info"></i>
                        <span>Randevularım</span>
                    </a>
                </li>

                <li class="menu-title">Daha Fazla</li>
                <li>
                    <a href="/BusinessEmployee/BusinessEmployeeSupport/Help" class="waves-effect">
                        <i class="mdi mdi-help-circle"></i>
                        <span>Yardım & Destek</span>
                    </a>
                </li>
                <li>
                    <a href="/BusinessEmployee/BusinessEmployeeSupport/Faq" class="waves-effect">
                        <i class="mdi mdi-tag"></i>
                        <span>SSS</span>
                    </a>
                </li>
                <li>
                    <a href="/BusinessEmployee/BusinessEmployeeSupport/Feedback" class="waves-effect">
                        <i class="dripicons-backspace"></i>
                        <span>Geri Bildirim</span>
                    </a>
                </li>
                <li>
                    <a href="/BusinessEmployee/BusinessEmployeeAuth/Logout" class="waves-effect">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>