@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/BusinessOwner/Views/BusinessOwnerLayout/Index.cshtml";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Calendar</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Calendar</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <div class="row">
                    <div id="calendar" class="col mt-3 mt-lg-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BusinessId'yi JS'e aktar -->
<script>
    const businessId = @ViewBag.BusinessId;
</script>

<script>
    /*
     Template Name: Xacton - Admin & Dashboard Template
     Author: Myra Studio
     File: Calendar (Inline version)
    */

    !function($) {
        "use strict";

        var CalendarPage = function() {};

        CalendarPage.prototype.init = function() {

            // plugin var mı kontrol
            if ($.isFunction($.fn.fullCalendar)) {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: false,
                    eventLimit: true,

                    // ✅ Statik events yerine server'dan çek
                    events: function(start, end, timezone, callback) {
                        $.ajax({
                        url: '/BusinessOwner/BusinessOwnerCalendar/GetEvents',
                        dataType: 'json',
                        data: {
                            businessId: businessId,
                            start: start.format(),
                            end: end.format()
                        },
                        success: function(res){ callback(res); }
                        });
                    }
                });

            } else {
                alert("Calendar plugin is not installed");
            }
        },

        $.CalendarPage = new CalendarPage;
        $.CalendarPage.Constructor = CalendarPage;

    }(window.jQuery);

    // sayfa yüklenince çalıştır
    (function($) {
        "use strict";
        $(document).ready(function() {
            $.CalendarPage.init();
        });
    })(window.jQuery);

</script>
