@model List<ResultBannerDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row justify-content-center align-items-center">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                @foreach (var item in Model)
                {
                    <h4 class="card-title">@item.title</h4>
                    <p class="card-subtitle mb-4">@item.description</p>
                    <p class="card-subtitle mb-4">@item.videoDescription</p>

                    <div class="embed-responsive embed-responsive-16by9 ">
                        <iframe class="embed-responsive-item"
                                src="@item.videoUrl"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>

                    </div>
                    <div class="py-3 d-flex justify-content-end">
                        <a href="/Admin/AdminBanner/UpdateBanner/@item.bannerId" class="btn btn-primary waves-effect waves-light">Güncelle</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>