<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Xacton
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Panel</li>

                <li>
                    <a href="/Admin/AdminHome/Index" class="waves-effect">
                        <i class="feather-airplay"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Default/Index" class="waves-effect">
                        <i class="fas fa-home"></i>
                        <span>Ana Sayfaya Git</span>
                    </a>
                </li>

                <li class="menu-title">Sayfalar</li>
                <li>
                    <a href="/Admin/AdminAbout/Index" class="waves-effect">
                        <i class="fas fa-info"></i>
                        <span>Hakkımızda</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBanner/Index" class="waves-effect">
                        <i class="fas fa-images"></i>
                        <span>Banner</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminContact/Index" class="waves-effect">
                        <i class="fas fa-comment-dots"></i>
                        <span>İletişim</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminFooterAddress/Index" class="waves-effect">
                        <i class="fas fa-map-marked-alt"></i>
                        <span>Alt Adres</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminService/Index" class="waves-effect">
                        <i class="fas fa-briefcase"></i>
                        <span>Servisler</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminSocialMedia/Index" class="waves-effect">
                        <i class="fas fa-hashtag"></i>
                        <span>Sosyal Medya</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminTestimonial/Index" class="waves-effect">
                        <i class="fas fa-quote-left"></i>
                        <span>Referanslar</span>
                    </a>
                </li>

                <li class="menu-title">İşletmeler</li>
                <li>
                    <a href="/Admin/AdminBusiness/Index" class="waves-effect">
                        <i class="fas fa-building"></i>
                        <span>İşletmeler</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBusinessCategory/Index" class="waves-effect">
                        <i class="fas fa-layer-group"></i>
                        <span>İşletme Kategorileri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminBusinessOwner/Index" class="waves-effect">
                        <i class="fas fa-user-tie"></i>
                        <span>İşletme Sahipleri</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminEmployee/Index" class="waves-effect">
                        <i class="fas fa-user-friends"></i>
                        <span>İşletme Çalışanları</span>
                    </a>
                </li>

                <li class="menu-title">Admin İşlemleri</li>
                <li>
                    <a href="/Admin/AdminUser/Index" class="waves-effect">
                        <i class="fas fa-users"></i>
                        <span>Kullanıcılar</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/AdminRole/Index" class="waves-effect">
                        <i class="fas fa-users-cog"></i>
                        <span>Roller</span>
                    </a>
                </li>

                <li class="menu-title">Daha Fazla</li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>